{% extends 'base/base.html' %}


{% block body %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags|default:'info' }} alert-dismissible fade show mb-4 small" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
<div class="row ">

    {% if skills == 'No Skill Added' %}

    <div class="d-flex justify-content-center align-items-center">No skill found! Update your profile first to see your
        profile matching jobs.</div>

    {% else %}

    {% for j in jobs %}
    <div class="card me-4" style="width: 30%; margin-top: 20px;">

        {% if j.image %}
        <img src="{{j.image.url}}" class="card-img-top" alt="...">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{j.title}}</h5>
            <p>{{j.type}}</p>
            <p class="card-text">{{j.description | truncatechars:50}}</p>

            {% if request.user.user_type == 'jobseeker' %}

  
            {% if j.id in jobid %}
            <a href="javascript:void(0)" class="btn btn-warning rounded-pill">Already Applied</a>
            {% else %}
            <a href="{% url 'apply' j.id %}" class="btn btn-primary rounded-pill">Apply</a>
            {% endif %}


            {% elif request.user.user_type == 'recruiter' %}
            <a href="{% url 'editjobpost' j.id %}" class="btn btn-warning rounded-pill">Edit</a>
            <a href="{% url 'deletejob' j.id %}" class="btn btn-danger rounded-pill">Delete</a>
            {% endif %}

        </div>
    </div>
    {% endfor %}

    {% endif %}




</div>



{% endblock body %}